@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-heading {
    font-family: 'Poppins', sans-serif;
}

.font-body {
    font-family: 'Inter', sans-serif;
}

.font-mono-custom {
    font-family: 'Roboto Mono', monospace;
}

[x-cloak] {
    display: none !important;
}
